<!-- Priority Filter Dropdown -->
<div class="filter-container">
  <mat-form-field>
    <mat-label>Filter by Priority</mat-label>
    <mat-select [(ngModel)]="selectedPriority" (selectionChange)="onPriorityChange()">
      <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Task Cards Container -->
<div class="task-container">
  <mat-card *ngFor="let task of filteredTasks" class="task-card fade-in">
    <mat-card-header>
      <mat-card-title>{{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{ task.description }}</p>
      <p>Due Date: {{ task.due_date | date }}</p>
      <p>Priority: {{ task.priority }}</p>
      <p [ngClass]="{
            'status-pending': task.status === 'Pending',
            'status-ongoing': task.status === 'Ongoing',
            'status-completed': task.status === 'Completed'
          }">Status: {{ task.status }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="edit-button" [routerLink]="['/task-edit', task.id]">
        Edit
      </button>
      <button mat-button color="warn" (click)="deleteTask(task.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
