<p>Confirm Sign Up</p>

<form (ngSubmit)="onSubmit()" [formGroup]="confirmForm">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" required>
  </div>
  
  <div>
    <label for="code">Confirmation Code:</label>
    <input type="text" id="code" formControlName="code" required>
  </div>
  
  <!-- Display error message if there's an error during sign up confirmation -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <button type="submit" [disabled]="!confirmForm.valid">Confirm Sign Up</button>
</form>
